.wrapper {
    display: flex;
    // min-height: 56px;
    max-height: none;

    gap: 10px;
}
.avatar {
    padding-top: 4px;
    height: 32px;
    width: auto;
    display: flex;
    align-items: flex-start;
}
.main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.content {
    display: flex;
    p {
        // text-align: justify;
        // text-justify: distribute;
        // hyphens: auto;
        text-justify: distribute;
    }
}
.text {
    flex: 1;
    min-height: 36px;
    display: flex;
    align-items: center;
    position: relative;
    div {
        width: 100%;
        span {
            // display: block;
            width: 100% !important;
            br {
                display: none;
            }
            span {
                width: 100%;
            }
        }
    }
}
.reply_box {
    height: 100%;
    position: relative;
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 8px;
    padding-left: 16px;
    .reply_input {
        width: 100%;
        height: 100%;
        position: relative;
        &::before {
            content: "";
            width: 8px;
            position: absolute;
            height: 1px;
            background-color: var(--text-color);
            left: -16px;
            top: 18px;
        }
    }
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        background-color: var(--text-color);
        width: 1px;
        left: 0px;
        top: 0px;
    }
}
.reply_none {
    display: none;
}
.like {
    display: flex;
    width: 36px;
    height: 56px;
    align-items: center;
    padding-top: 8px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    .like_button,
    .more_button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        // overflow: hidden;
    }
    .more_button {
        position: relative;
        display: none;
        // overflow: visible;
        &:hover {
            background-color: var(--hover-color);
        }
    }
    &:hover {
        .more_button {
            display: flex;
        }
    }
}

.infor {
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: rgb(139, 139, 139);
    .day {
        font-family: IgLight;
    }
    .like_number {
        font-family: IgMedium;
    }
}

.heartAnimation {
    animation: heartBeat 0.5s ease-in-out forwards;
}

@keyframes heartBeat {
    0% {
        scale: 0.8;
    }

    33% {
        scale: 1;
    }

    66% {
        scale: 0.9;
    }
    100% {
        opacity: 1;
    }
}
.more_less-button {
    cursor: pointer;
    font-family: IgMedium;
    &:hover {
        text-decoration: underline;
    }
}
.name-in-content {
    margin-right: 4px;
    font-family: IgBold;
    font-size: 14px;
}
.text_more {
    span {
        span {
            span {
                &:nth-child(1) {
                    margin-right: 2px;
                }
            }
        }
    }
}
// MODAL
.modal {
    position: absolute;
    display: flex;
    align-items: center;
    cursor: default;
    border-radius: 8px;
    overflow: hidden;
    bottom: 0px;
    right: 0;
    z-index: 3;
    animation: modal_animation 0.5s ease-in-out forwards;
    font-size: 12px;

    .modal_main {
        width: 100%;
        max-height: 90px;
        background-color: var(--background-color-modal);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 4px;
        gap: 3px;
        .modal_main-button {
            cursor: pointer;
            user-select: none;
            width: 100%;
            min-width: 60px;
            height: 24px;
            display: flex;
            align-items: center;
            text-align: start;
            overflow: hidden;
            border-radius: 8px;
            padding: 0 8px;
            &:hover {
                background-color: var(--hover-color);
            }
        }
    }
}
.first {
    top: 0px;
    bottom: auto;
}
@keyframes modal_animation {
    0% {
        scale: 0.8;
    }

    33% {
        scale: 1;
    }

    66% {
        scale: 0.9;
    }
    100% {
        opacity: 1;
    }
}
// CONFIRM
.confirm {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(82, 81, 81, 0.317);
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    .confirm_main {
        width: 260px;
        min-height: 120px;
        background-color: var(--background-color-modal);
        // overflow: hidden;
        border-radius: 12px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        box-shadow: var(--background-color-modal);
        .message {
            min-height: 30px;
            display: flex;
            justify-content: center;
            max-height: 360px;
            z-index: 2;
        }
        .confirm_action {
            width: 100%;
            height: 36px;
            user-select: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 1;
        }
    }
}
.confirm_action-button {
    height: 36px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.action_reply {
    // height: 40px;
    width: 36px;
    position: absolute;
    right: -44px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .action_reply-button {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        // background-color: red;
        padding: 0 2px;
        cursor: pointer;
    }
}
.danger {
    &:hover {
        text-decoration: underline;
        color: rgb(255, 57, 57);
    }
}
.warning {
    &:hover {
        text-decoration: underline;
        color: rgb(255, 186, 66);
    }
}
.edit_comment {
    width: 100%;
}

.tag_link {
    font-family: IgMedium;
    font-style: italic;
}
.tag {
    display: inline;
}
.reply_comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reply_wrapper {
    display: flex;
    gap: 8px;
    position: relative;
    &::before {
        content: "";
        width: 8px;
        position: absolute;
        height: 1px;
        background-color: var(--text-color);
        left: -16px;
        top: 20px;
    }
    .avatar {
        width: 32px;
        height: 32px;
    }
    .reply_infor {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        .reply_text {
            // display: flex;
            align-items: center;
            position: relative;
            font-size: 14px;

            .reply_name-in-content {
                margin-right: 4px;
                font-family: IgBold;
                font-size: 14px;
            }
        }
        .reply_day {
            font-family: IgLight;
            font-size: 12px;
            color: rgb(139, 139, 139);
        }
    }
}
.reply_delete {
    display: none;
}

.reply_modal-confirm {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(107, 107, 107, 0.199);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .reply_modal-confirm-wrapper {
        width: 240px;
        // height: 200px;
        background-color: var(--background-color-modal);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        border-radius: 8px;
        gap: 12px;

        .reply_confirm-title {
            width: 100%;
            text-align: center;
        }
        .reply_confirm-action {
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: space-between;
        }
    }
}

.delete_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(122, 122, 122, 0.108);
    z-index: 2;
    display: flex;

    align-items: center;
    justify-content: center;
    .delete_wrapper {
        background-color: var(--background-color-modal);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 12px;
        width: 400px;
        max-height: calc(100vh - 96px);
        box-shadow: 0px 0px 2px 1px var(--modal-shadow);
        gap: 12px;
        border-radius: 12px;
        overflow: hidden auto;
        // padding: 12px;
        .delete_img {
            width: 100%;
            // height: 400px;
            display: flex;
            img,
            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .delete_text {
            width: 100%;
            flex: 1;
            display: flex;
            align-items: flex-start;
            padding: 0 12px;
            overflow: hidden auto;
            color: var(--text-color);
            .name-in-content {
                margin-right: 2px;
                font-family: IgBold;
            }
        }
        .delete_message {
            padding: 0 12px;
            text-align: center;
            font-size: 12px;
            font-style: italic;
            color: var(--text-color);
        }
        .delete_content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1;
        }
        .delete_action {
            width: 100%;
            display: flex;
            // justify-content: space-between;
            gap: 30px;
            justify-content: center;
            padding: 0 12px;
            .delete_button {
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                color: var(--background-color);
                background-color: var(--primary-color-hover);
                border-radius: 12px;
                &:hover {
                    color: black;
                    background-color: rgb(211, 211, 211);
                }
            }
            .deleted {
                &:hover {
                    color: red;
                    background-color: rgb(255, 135, 135);
                }
            }
        }
    }
}

.report_wrapper {
    width: 400px;
    height: 258px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 1px var(--modal-shadow);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .reason {
        color: var(--text-color);
        input {
            width: 20px;
            height: 20px;
            background-color: var(--primary-color) !important;
            accent-color: var(--primary-color) !important;
            // color:
            & + label::before {
                background-color: white !important;
            }
            &:checked {
                &::before {
                    background-color: white !important;
                }
            }
        }
        display: flex;
        gap: 20px;
        width: 100%;
        height: 36px;
        // background-color: white;
        align-items: center;
    }
    .report_action {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .report_button {
        cursor: pointer;
        width: 45%;
        padding: 8px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-family: IgMedium;
        justify-content: center;
        background-color: rgb(255, 231, 231);
        border: 1px solid red;
        color: red;
        &:hover {
            background-color: rgb(255, 159, 159);
            color: white;
        }
    }
    .cancel {
        background-color: rgb(218, 218, 218);
        color: rgb(0, 0, 0);
        border: 1px solid black;
        &:hover {
            background-color: rgb(19, 19, 19);
            color: white;
        }
    }
}
