.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 20px 0;
    flex-direction: column;
    // overflow-x: hidden;
}
.header {
    width: 100%;
    height: 180px;
    position: relative;
    padding-bottom: 30px;
    display: flex;
    .avatar {
        display: flex;
        width: 260px;
        justify-content: center;
    }
    .infor {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--background-color-hover);
        bottom: 0;
        left: 0;
    }
}
.infor_1 {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    .name {
        font-size: 20px;
    }
    .action {
        flex: 1;
        display: flex;
        gap: 10px;

        .follow_button {
            width: 86px;
            height: 32px;
            font-size: 14px;
            background-color: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            font-family: IgMedium;
            cursor: pointer;
            &:hover {
                background-color: var(--primary-color-hover);
                color: var(--background-color);
            }
        }
        .suggest_button,
        .more_button {
            height: 32px;
            width: 32px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                background-color: var(--hover-color);
            }
        }
        .more_button {
            border-radius: 50%;
        }
    }
}
.infor_2 {
    width: 100%;
    height: 38px;
    display: flex;
    // justify-content: space-between;
    // padding: 0 16px;
    gap: 40px;
    .middle_item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        gap: 4px;
        .number {
            font-family: IgMedium;
        }
    }
}
.infor_3 {
    .name {
        font-family: IgMedium;
        font-size: 16px;
    }
}

.body {
    // width: 100%;
    // height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .title {
        height: 52px;
        width: 100%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        .tile_item {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 6px;
            text-transform: uppercase;
            font-size: 12px;
            font-family: IgMedium;
            // font-family: IgBold;

            cursor: pointer;
            opacity: 0.3;
        }
        .title_active {
            cursor: default;
            opacity: 1;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: var(--text-color);
                top: -1px;
            }
        }
    }
}

.body_main {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(160px, 320px) minmax(160px, 320px) minmax(160px, 320px);
    justify-content: center;
    gap: 6px;
    // flex-wrap: wrap;
}
.empty {
    display: flex;
}
.empty_post {
    width: 100%;
    height: 400px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 40px;
    color: var(--text-color);
    font-size: 30px;
    font-family: IgBold;
}

.modal_confirm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(209, 209, 209, 0.244);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
        width: 260px;
        height: 130px;
        background-color: var(--background-color-modal);
        overflow: hidden;
        border-radius: 12px;
        padding: 10px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--text-color);
        box-shadow: var(--background-color-modal);
        text-align: center;
        .action {
            width: 100%;
            height: 36px;
            user-select: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 8px;
            .confirm_action-button {
                height: 36px;
                min-width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--background-color);
                color: var(--text-color);
                overflow: hidden;
                border-radius: 12px;
                padding: 0 8px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.action_more{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    .action_more-report{
        padding: 4px 8px;
        background-color: rgb(255, 207, 207);
        color: red;
        border-radius: 8px;
        border: 1px solid red;
        cursor: pointer;
        font-family: IgMedium;
        &:hover{
            background-color: rgb(255, 90, 90);
            color: white;
        }
    }
}


.report_wrapper {
    width: 400px;
    height: 258px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 1px var(--modal-shadow);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    .reason {

        color: var(--text-color);
        input {
            width: 20px !important;
            height: 20px !important;
            background-color: var(--primary-color) !important;
            accent-color: var(--primary-color) !important;
            // color:
            & + label::before {
                background-color: white !important;
            }
            &:checked {
                &::before {
                    background-color: white !important;
                }
            }
        }
        p{
            flex: 1;
        }
        display: flex;
        gap: 20px;
        width: 100%;
        height: 36px;
        // background-color: white;
        align-items: flex-start;
    }
    .report_action {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .report_button {
        cursor: pointer;
        width: 45%;
        padding: 8px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-family: IgMedium;
        justify-content: center;
        background-color: rgb(255, 231, 231);
        border: 1px solid red;
        color: red;
        &:hover {
            background-color: rgb(255, 159, 159);
            color: white;
        }
    }
    .cancel {
        background-color: rgb(218, 218, 218);
        color: rgb(0, 0, 0);
        border: 1px solid black;
        &:hover {
            background-color: rgb(19, 19, 19);
            color: white;
        }
    }
}
