.boss {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  font-family: "IgNormal";
}
.boss .body {
  flex: 1;
  background-color: var(--background-color);
}
.boss .body nav {
  z-index: 1;
}
.boss .body .wrapper {
  padding-left: 244px;
  background-color: var(--background-color);
  z-index: 2;
}
.boss .body .wrapper .main {
  height: 100%;
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1260px) {
  .boss .body .wrapper {
    padding-left: 72px;
  }
}
@media (max-width: 768px) {
  .boss nav {
    width: 100%;
    height: 48px;
    bottom: 0;
    min-width: 100%;
  }
  .boss .body {
    padding-left: 0;
  }
  .boss .body .wrapper {
    padding-left: 0;
  }
  .main {
    margin-top: 48px;
  }
}
.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
.wrapper .main {
  height: 1000px;
  min-height: 100vh;
  flex: 1;
  background-color: var(--background-color);
}
.wrapper .sub_main {
  width: 315px;
  height: 100%;
  background-color: var(--background-color);
}

.sub_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 64px 0 24px;
  box-sizing: initial;
}
.sub_main .sub_header {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
  box-sizing: border-box;
  color: var(--text-color);
}
.sub_main .sub_header :first-child {
  width: 44px;
  height: 44px;
}
.sub_main .sub_header .header_infor {
  flex: 1;
  margin-left: 12px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub_main .sub_header .header_infor .text {
  font-size: 14px;
  line-height: 18px;
}
.sub_main .sub_header .header_infor .text:nth-child(1) {
  font-weight: 600;
}
.sub_main .sub_footer {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.sub_main .sub_footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--nav-shadow);
  top: 0;
  left: 0;
}
.sub_main .sub_footer .sologan {
  margin-top: 8px;
  text-align: justify;
  z-index: 0;
}
.sub_main .sub_footer .sologan .quote {
  display: flex;
  font-size: 12px;
  color: var(--text-color);
}
.sub_main .sub_footer .copyright {
  display: flex;
  align-items: center;
  gap: 6px;
}
.sub_main .sub_footer .copyright .copyright_title {
  color: var(--text-color);
  line-height: 18px;
}

.sub_body {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sub_body .recommend {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  position: relative;
}
.sub_body .recommend:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--nav-shadow);
  bottom: 0;
  left: 0;
}
.sub_body .recommend .recommend_title {
  font-family: IgMedium;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.sub_body .recommend .recommend_button {
  color: var(--text-color);
  cursor: pointer;
}
.sub_body .recommend .recommend_button span:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.sub_body .recommend_item {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=App.module.css.map */