// Layout Home Page
.boss {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  font-family: "IgNormal";
  nav {
    display: flex;
    height: 100vh;
    background-color: var(--dark-background);
    max-width: 244px;
    min-width: 72px;
    // font-family: "IgLigh";
    position: fixed;
    // width: inherit;
  }
  .body {
    flex: 1;
    padding-left: 244px;
  }
}

@media (max-width: 1260px) {
  .boss {
    .body {
      padding-left: 72px;
    }
  }
}

@media (max-width: 768px) {
  .boss {
    nav {
      width: 100vw;
      height: 48px;
      bottom: 0;
      min-width: 100vw;
      //   max-height: 48px;
    }
    .body {
      padding-left: 0;
    }
  }
}
// Content Home Page

.wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  .main {
    height: 1000px;
    min-height: 100vh;

    // width: 630px;
    flex: 1;
    background-color: red;
  }
  .sub_main {
    width: 315px;
    height: 100%;
    // background-color: white;
  }
}

// Submain

.sub_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 64px 0 24px;
  box-sizing: initial;
  // gap: 10px;
  .sub_header {
    width: 100%;
    height: 76px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
    box-sizing: border-box;
    :first-child {
      width: 44px;
      height: 44px;
    }
    .header_infor {
      flex: 1;
      margin-left: 12px;
      height: 44px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        font-size: 14px;
        line-height: 18px;
        &:nth-child(1) {
          font-weight: 600;
        }
      }
    }
  }

  .sub_footer {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    user-select: none;

    .sologan {
      margin-top: 8px;
      text-align: justify;
      // display: flex;
      // padding-right: 12px;
      .quote {
        display: flex;
        font-size: 12px;
      }
    }
    .copyright {
      display: flex;
      align-items: center;
      gap: 6px;
      .copyright_title {
        line-height: 18px;
      }
    }
  }
}

.sub_body {
  width: 100%;
  flex: 1;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .recommend {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .recommend_title {
      font-family: IgLight;
      user-select: none;
    }
    .recommend_button {
      // font-family: IgLight;
      cursor: pointer;
      span {
        &:hover {
          text-decoration: underline;
          color: var(--primary-color-hover);
        }
      }
    }
  }
  .recommend_item {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main {
    margin-top: 48px;
  }
}
