.navbar_search {
  position: fixed;
  width: 100vw;
  height: 48px;
  background-color: var(--background-color);
  display: none;
  top: 0;
  padding: 0 16px;

  box-shadow: 0px 0px 15px 2px var(--background-color-hover);
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .first {
    display: flex;
    height: 100%;

    .logo {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .last {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    // background-color: aliceblue;
    position: relative;
    .modal {
      position: absolute;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      // overflow: hidden;
    }
  }
}
@media (max-width: 768px) {
  .navbar_search {
    display: block;
  }
}
