.wrapper {
    width: 468px;
    height: auto;
    //   background-color: red;
    // border-radius: 12px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 4px;
        padding-bottom: 12px;
        .infor {
            flex: 1;
            display: flex;
            gap: 10px;
            .avatar {
                width: 42px;
                height: 42px;
            }
            .title {
                display: flex;
                flex-direction: column;
                .name {
                    font-family: IgBold;
                }
                .status {
                    // font-family: IgMedium;
                    line-height: 20px;
                    font-size: 14px;
                    width: auto;
                    display: flex;
                    gap: 4px;
                    align-items: center;
                    span {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}
.header_action {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .action_modal {
        position: absolute;
        // height: 200px;
        top: 0;
        right: 0;
        background-color: var(--background-color-modal);
        border-radius: 8px;
        animation: slide_in 0.25s ease-in-out forwards;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 8px;
        z-index: 1;
        .action_item {
            display: flex;
            align-items: center;
            padding: 8px 16px;
            min-width: 130px;
            user-select: none;
            height: 40px;
            cursor: pointer;
            border-radius: 8px;
            &:hover {
                background-color: var(--hover-color);
            }
        }
    }
}
.three_dot_button {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: yellow;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    &:hover {
        background-color: var(--hover-color);
    }
}

.body {
    width: 100%;
    max-height: 585px;
    // background-color: red;
    border-radius: 6px;
    border: 1px solid var(--hover-color);
    display: flex;
    // object-fit: contain;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    video,
    img {
        user-select: none;

        -webkit-user-drag: none;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.footer {
    margin: 8px 0 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .action {
        display: flex;
        justify-content: space-between;
    }
    .action_main {
        display: flex;
        gap: 16px;
    }
    .action_item {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .like_number {
        position: relative;
        font-family: IgBold;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        gap: 10px;
    }
    .content_text {
        text-align: distribute;

        .name-in-content {
            margin-right: 4px;
            font-family: IgBold;
            font-size: 14px;
        }
    }
}

.more_less-button {
    cursor: pointer;
    font-family: IgMedium;
    &:hover {
        text-decoration: underline;
    }
}
.show_all-comment {
    cursor: pointer;
    font-family: IgMedium;

    &:hover {
        text-decoration: underline;
    }
}
.full_post_box {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden auto;
    // display: flex;
    // align-items: center;

    .close {
        position: absolute;
        width: 42px;
        height: 42px;
        top: 12px;
        left: 12px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.2;
        cursor: pointer;
        z-index: 2;
        &:hover {
            opacity: 1;
        }
    }
}
.likeModal_title {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.like_modal {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(177, 177, 177, 0.193);
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.heartAnimation {
    animation: heartBeat 0.5s ease-in-out forwards;
}

@keyframes heartBeat {
    0% {
        scale: 0.8;
    }

    33% {
        scale: 1;
    }

    66% {
        scale: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide_in {
    from {
        opacity: 0.5;
        right: 20px;
    }
    to {
        opacity: 1;
        right: 0px;
    }
}

// DELETE MODAL
.delete_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(122, 122, 122, 0.108);
    z-index: 2;
    display: flex;

    align-items: center;
    justify-content: center;
    .delete_wrapper {
        background-color: var(--background-color-modal);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 12px;
        width: 400px;
        max-height: calc(100vh - 96px);
        box-shadow: 0px 0px 2px 1px var(--modal-shadow);
        gap: 12px;
        border-radius: 12px;
        overflow: hidden auto;
        // padding: 12px;
        .delete_img {
            width: 100%;
            // height: 400px;
            display: flex;
            img,
            video {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .delete_text {
            width: 100%;
            flex: 1;
            display: flex;
            align-items: flex-start;
            padding: 0 12px;
            overflow: hidden auto;
            color: var(--text-color);
            .name-in-content {
                margin-right: 2px;
                font-family: IgBold;
            }
        }
        .delete_message {
            padding: 0 12px;
            text-align: center;
            font-size: 12px;
            font-style: italic;
            color: var(--text-color);
        }
        .delete_content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex: 1;
        }
        .delete_action {
            width: 100%;
            display: flex;
            // justify-content: space-between;
            gap: 30px;
            justify-content: center;
            padding: 0 12px;
            .delete_button {
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                color: var(--background-color);
                background-color: var(--primary-color-hover);
                border-radius: 12px;
                &:hover {
                    color: black;
                    background-color: rgb(211, 211, 211);
                }
            }
            .deleted {
                &:hover {
                    color: red;
                    background-color: rgb(255, 135, 135);
                }
            }
        }
    }
}

.report_wrapper {
    width: 400px;
    height: 258px;
    background-color: var(--background-color);
    box-shadow: 1px 1px 1px var(--modal-shadow);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .reason {
        color: var(--text-color);
        input {
            width: 20px;
            height: 20px;
            background-color: var(--primary-color) !important;
            accent-color: var(--primary-color) !important;
            // color:
            & + label::before {
                background-color: white !important;
            }
            &:checked {
                &::before {
                    background-color: white !important;
                }
            }
        }
        display: flex;
        gap: 20px;
        width: 100%;
        height: 36px;
        // background-color: white;
        align-items: center;
    }
    .report_action {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .report_button {
        cursor: pointer;
        width: 45%;
        padding: 8px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-family: IgMedium;
        justify-content: center;
        background-color: rgb(255, 231, 231);
        border: 1px solid red;
        color: red;
        &:hover {
            background-color: rgb(255, 159, 159);
            color: white;
        }
    }
    .cancel {
        background-color: rgb(218, 218, 218);
        color: rgb(0, 0, 0);
        border: 1px solid black;
        &:hover {
            background-color: rgb(19, 19, 19);
            color: white;
        }
    }
}
