.wrapper {
    width: 100%;
    max-width: 310px;
    min-width: 160px;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
}
.post_pic {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img,
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.infor_hover {
    position: absolute;
    background-color: rgba(167, 167, 167, 0.279);
    width: 100%;
    height: 100%;
    // z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .infor {
        display: flex;
        gap: 12px;
        .infor_item {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-family: IgBold;
            color: white;
            // text-shadow: 1px 1px 2px black;
            gap: 2px;
            svg {
                path {
                    fill: white;
                    stroke: white;
                }
                fill: white;
            }
        }
    }
}
.move_in {
    animation: move_in 0.25s ease-in-out forwards;
}
@keyframes move_in {
    from {
        top: 100%;
    }
    to {
        top: 0;
    }
}
