.nav_item {
    width: 220px;
    height: 48px;
    display: flex;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    gap: 16px;
    position: relative;
    animation: navbar_item 0.5s ease-in-out forwards;
    color: var(--text-color);
    span {
        animation: navbar_item_title 0.5s ease-in-out forwards;
    }
    &:hover {
        background-color: var(--hover-color);
    }

    align-items: center;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.active {
    width: 48px;
    height: 48px;

    animation: short_navbar_item 0.5s ease-in-out forwards;
    span {
        animation: short_navbar_item_title 0.2s ease-in-out forwards;
    }
}
.border {
    border-radius: var(--border-navbar-button);
    border: 2px solid var(--text-color);
    padding: 10px;
}
@keyframes short_navbar_item {
    0% {
        width: 220px;
    }
    100% {
        width: 48px;
    }
}
@keyframes short_navbar_item_title {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes navbar_item {
    0% {
        width: 48px;
    }
    100% {
        width: 220px;
    }
}
@keyframes navbar_item_title {
    0% {
        opacity: 0;
        display: none;
    }
    60% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}
@keyframes search_wrapper {
    from {
        left: 32;
        opacity: 0;
    }
    to {
        left: 80px;
        opacity: 1;
    }
}
@keyframes search_wrapper_2 {
    from {
        left: -20px;
        opacity: 0;
    }
    to {
        left: 0px;
        opacity: 1;
    }
}
//SEARCH
.search_wrapper {
    width: 360px;
    height: 100vh;
    background-color: var(--background-color-modal);
    position: fixed;
    top: 0;
    animation: search_wrapper 0.8s ease-in-out forwards;
    z-index: -1;
    left: 32px;
    display: flex;
    // align-items: center;
    align-items: flex-start;
}

// Media Query
@media (max-width: 1260px) {
    .nav_item {
        width: 48px !important;
        span {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .nav_item {
        width: 42px !important;
        height: 42px !important;

        padding: 9px !important;
    }
    .border {
        padding: 8px !important;
    }
    .search_wrapper {
        top: 48px;
        left: 0px;
        height: calc(100vh - 96px);
        animation: search_wrapper_2 0.8s ease-in-out forwards;
    }
}
