.wrapper {
  position: relative;
  width: 42px;
  height: 100%;
}

.candles {
  position: absolute;
  width: 250px;
  height: 150px;

  z-index: 1;
}

.candle2__stick {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 3px;
  height: 15px;
  background: #673c63;
  border-radius: 8px;
  transform: translate(-50%, -100%);
}

.candle2__stick {
  height: 12px;
  transform-origin: bottom center;
}

.candle2__eyes {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 35px;
  height: 30px;
  transform: translate(-50%, 0%);
}

// .candle__smoke-one {
//   position: absolute;
//   left: 30%;
//   top: 50%;
//   width: 30px;
//   height: 3px;
//   background: grey;
//   transform: translate(-50%, -50%);
//   animation: move-left 3s infinite linear;
// }

.candle2 {
  position: absolute;

  width: 42px;
  height: 60px;
  background: #fff;
  border: 3px solid #673c63;
  border-bottom: 0px;
  border-radius: 3px;

  box-shadow: -2px 0px 0px #95c6f2 inset;
  overflow: hidden;
}
.green {
  &:before {
    content: "";
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    background-color: #00ff489a;
    animation: NhapNhay2 1s ease-in infinite;
  }
}
.red {
  &:before {
    content: "";
    width: 42px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff00009a;
    animation: NhapNhay 1s ease-in infinite;
  }
}
.yellow {
  &:before {
    content: "";
    width: 42px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffdd009a;
    animation: NhapNhay3 1s ease-in infinite;
  }
}
.candle2__eyes-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #673c63;
  border-radius: 100%;

  background: #673c63;
  transform: translate(-80%, 0%);
}

.candle2__eyes-two {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #673c63;
  border-radius: 100%;

  background: #673c63;
  transform: translate(-80%, 0%);
}

.candle2__fire {
  position: absolute;
  top: -22px;
  left: 13px;

  display: block;
  width: 16px;
  height: 20px;

  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #ff9800;

  animation: dance-fire 3s infinite linear;
}
@keyframes NhapNhay {
  0% {
    background-color: #ff00009a;
    
  }
  50% {
    background-color: #ff00009a;
  }
  100% {
    background-color: white;
  }
}
@keyframes NhapNhay2 {
  0% {
    background-color: #00ff489a;
  }
  50% {
    background-color: #00ff489a;
  }
  100% {
    background-color: white;
  }
}
@keyframes NhapNhay3 {
  0% {
    background-color: #ffdd009a;
  }
  50% {
    background-color: #ffdd009a;
  }
  100% {
    background-color: white;
  }
}
@keyframes dance-fire {
  59%,
  89%,
  19%,
  27%,
  35% {
    left: 13.5px;
    width: 16px;
    height: 20px;
  }
  90%,
  0%,
  7%,
  15%,
  23%,
  31%,
  39%,
  47%,
  55% {
    left: 13px;

    width: 16px;
    height: 20px;
    background: #ffc107;
  }
  94%,
  3%,
  11%,
  43%,
  51%,
  58% {
    left: 12px;

    width: 16px;
    height: 20px;
    background: #ff9800;
  }
}
